APP_ENV=dev
APP_SECRET=change_me_in_env_local
APP_SHARE_DIR=var/share
DEFAULT_URI=http://localhost:8000

DATABASE_URL="postgresql://viterbit:viterbit_password@postgres:5432/viterbit?serverVersion=18&charset=utf8"

MESSENGER_TRANSPORT_DSN=amqp://viterbit_app:viterbit_app_password@rabbitmq:5672/viterbit
