parameters:
    level: 9
    paths:
        - src
        - tests
        - migrations
    excludePaths:
        - src/Kernel.php
    tmpDir: var/cache/phpstan
    symfony:
        containerXmlPath: var/cache/dev/App_KernelDevDebugContainer.xml
